<div>
  <h3 translate>Click here for more parenting tips!</h3>
  <button class="footer-button">
    <a translate
      href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/healthy-parenting"
      class="footer-button-links">TIPS FROM WHO</a>
  </button>
  <button class="footer-button">
    <a translate href="https://www.unicef.org/coronavirus/covid-19-parenting-tips" class="footer-button-links">TIPS
      FROM UNICEF</a>
  </button>
  <button class="footer-button">
    <a translate href="https://www.acceleratehub.org/plh-research-outputs/" class="footer-button-links">EVIDENCE-BASE IS
      HERE</a>
  </button>
</div>