.messages {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.bot-blob {
    width: 300px;
    align-self: flex-start;
    position: relative;
    left: 200px;
}

.msg-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 90vw;

    &:nth-child(2) {
        max-width: calc(95vw - 200px);
    }

    .msg-bubble {
        background-color: grey;
        color: white;
        padding: 20px;
        font-size: 20px;
        border-radius: 10px;
    }

    &.bot-msg .msg-bubble {
        background-color: grey;
    }

    &.user-msg .msg-bubble {
        background-color: darkcyan;
    }

    &.user-msg {
        justify-content: flex-end;
    }

    .arrow {
        margin: 0px;
    }
}

.response-option {
    color: white;
    border-color: white;
    background-color: transparent;
    padding: 15px;
    font-size: 20px;
    margin: 20px;
    border-radius: 30px;
    border-style: solid;
    border-width: 3px;
}

.user-blob {
    position: absolute;
    bottom: 20px;
    right: 20px;
}