.messages {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.bot-blob {
  width: 80vw;
  position: absolute;
  left: -40vw;
  top: 20px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 40px;
  z-index: 10;

  .bot-lottie {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 12;
  }

  .still-bot-blob {
    width: 30vw;
    position: absolute;
    left: 49.7vw;
    top: 3.8vw;
    z-index: 11;
  }
}

.msg-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 90vw;

  &:nth-child(1) {
    max-width: calc(60vw - 50px);
    position: relative;
    left: 40vw;
  }

  .msg-bubble {
    background-color: grey;
    color: white;
    padding: 20px;
    font-size: 20px;
    border-radius: 10px;
  }

  &.bot-msg .msg-bubble {
    background-color: grey;
  }

  &.user-msg .msg-bubble {
    background-color: darkcyan;
  }

  &.user-msg {
    justify-content: flex-end;
  }

  .arrow {
    margin: 0px;
  }
}

.response-options {
  position: absolute;
  z-index: 2;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.response-option {
  color: darkcyan;
  border-color: darkcyan;
  background-color: transparent;
  padding: 15px;
  font-size: 20px;
  margin: 20px;
  border-radius: 30px;
  border-style: solid;
  border-width: 3px;
  width: calc(100vw - 100px);
}

.user-blob {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3;
}

ion-content {
  --ion-background-color: #eeeeee;
}
