<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tips</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="padding">
  <div class="topic-list-container">
    <app-topic-title
      class="topic-nav-link"
      *ngFor="let topic of topics; let i=index"
      [routerLink]="['/topics',i+1]"
      [topic]="topic"
    >
    </app-topic-title>
  </div>

  <!-- TODO - provide proof of affiliation for play store and uncomment -->
  <!-- <app-info-sites-disclaimer></app-info-sites-disclaimer> -->
</ion-content>
