section:nth-of-type(4n) {
  background: #fbad18;
  color: #0b4060;
}

section:nth-of-type(4n + 1) {
  background: #5652a3;
  color: white;
}

section:nth-of-type(4n + 2) {
  background: #56c5d0;
  color: #0b4060;
}

section:nth-of-type(4n + 3) {
  background: #ed1651;
  color: white;
}

.topic-list-container {
  display: flex;
  flex-direction: column;
}
.topic-nav-link {
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 400px;
}
.nav-icon {
  font-size: 2em;
  margin-left: 5px;
}
#topic-5-list > li {
  margin-bottom: 1em;
}

ion-slide.swiper-slide {
  text-align: unset;
  font-size: unset;
}
ion-button.topic-nav {
  color: rgba(255, 255, 255, 0.3);
}

.slide-content {
  overflow: auto;
  height: 100vh;
  width: 100vw;
}
.slides-container {
  height: 100vh;
  width: 100vw;
  background-color: var(--ion-color-primary);
}
