@keyframes waving-arm {
  0% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  10% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
  20% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  59% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
  70% {
    -webkit-transform: rotate(140deg);
    transform: rotate(140deg);
  }
  80% {
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.bounce-5 {
  animation-name: bounce-5;
  animation-timing-function: ease;
}
@keyframes bounce-5 {
  0% {
    transform: scale(1, 1) translateY(0);
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-20px);
  }
  50% {
    transform: scale(1, 1) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-2px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
    display: block;
  }
  70% {
    opacity: 1;
  }
  99% {
    opacity: 0;
    display: none;
  }
}
