@font-face {
  font-family: "robotoCondensed";
  src: url("src/assets/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf")
    format("truetype");
}

@font-face {
  font-family: "robotoCondensed";
  src: url("src/assets/fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf")
    format("truetype");
  font-weight: bold;
}
