.ion-page {
  overflow: auto;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
  background: var(--ion-color-primary);
  font-family: "robotoCondensed";
  color: white;
}

.padding {
  padding: 10px;
}

ion-content {
  --ion-background-color: var(--ion-color-primary);
  --color: white;
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
}
