section:nth-of-type(4n) {
  background: #f0d90b;
  color: #0b4060;
}

section:nth-of-type(4n + 1) {
  background: #5e62ac;
  color: white;
}

section:nth-of-type(4n + 2) {
  background: #ed1651;
  color: #0b4060;
}

section:nth-of-type(4n + 3) {
  background: #56c5d0;
  color: white;
}

.tip-sheets-list-container {
  display: flex;
  flex-direction: column;
}
.tip-sheet-nav-link {
  border-bottom: 1px solid rgb(255, 255, 255, 0.3);
  cursor: pointer;
}

img {
  width: 100%;
  max-width: 400px;
}
.nav-icon {
  font-size: 2em;
  margin-left: 5px;
}
#tip-sheet-5-list > li {
  margin-bottom: 1em;
}
