<div class="tip-sheet" id="tipSheet1">
  <div class="navy-bg">
    <span style="display: none;" translate>One-on-One Time</span>
    <p translate style="font-weight: bold; color: white;">
      Can’t go to work? Schools closed? Worried about money? It is normal to feel stressed and overwhelmed.
    </p>
    <p style="color: white; opacity: 0.6;">
      <span translate>School shutdown is also a chance to make better relationships with our children and
        teenagers.</span>
      <span translate>One-on-One time is free and fun. It makes children feel loved and secure, and shows them that they
        are important.</span>
    </p>
  </div>
  <section class="section">
    <div style="display: flex; flex-direction: row">
      <p translate style="font-size: 20px;">
        Set aside time to spend with each child
      </p>
      <img class="blobs-playing-with-blocks" src="assets/images/blobs_playing_with_blocks.svg">
    </div>
    <span translate>It can be for just 20 minutes, or longer – it’s up to us. It can be at the same time each day so
      children or teenagers can look forward to it.</span>
    <button translate [routerLink]="['/activities']" class="try-activity-btn">
      Try an activity!
    </button>
  </section>
  <section class="section">
    <div class="section-header" (click)="teenSectionExpanded = !teenSectionExpanded">
      <h2 translate>Ideas with your baby/toddler</h2>
      <ion-icon name="{{ teenSectionExpanded ? 'chevron-up-outline' : 'chevron-down-outline' }}"></ion-icon>
    </div>
    <div *ngIf="teenSectionExpanded">
      <ul>
        <li translate>Copy their facial expression and sounds</li>
        <li translate>Sing songs, make music with pots and spoons</li>
        <li translate>Stack cups or blocks</li>
        <li translate>Tell a story, read a book, or share pictures</li>
      </ul>
      <div class="story-container">
        <p class="top-text">We are making a delicious meal together!</p>
        <img src="assets/images/stories/making-a-meal-baby1/0.svg">
      </div>
    </div>
  </section>
  <section class="section">
    <div class="section-header" (click)="section2Expanded = !section2Expanded">
      <h2 translate>Ideas with your teenager</h2>
      <ion-icon name="{{ section2Expanded ? 'chevron-up-outline' : 'chevron-down-outline' }}"></ion-icon>
    </div>
    <div *ngIf="section2Expanded" style="display: flex;">
      <ul>
        <li translate>
          Talk about something they like: sports, music, TV, celebrities, friends
        </li>
        <li translate>Go for a walk – outdoors or around the home</li>
        <li translate>Exercise together to their favorite music</li>
      </ul>
    </div>
  </section>
  <section class="section">
    <div class="section-header" (click)="childSectionExpanded = !childSectionExpanded">
      <h2 translate>Ideas with your young child</h2>
      <ion-icon name="{{ childSectionExpanded ? 'chevron-up-outline' : 'chevron-down-outline' }}"></ion-icon>
    </div>
    <ul *ngIf="childSectionExpanded">
      <li translate>Read a book or look at pictures</li>
      <li translate>Go for a walk – outdoors or around the home</li>
      <li translate>Dance to music or sing songs!</li>
      <li translate>Do a chore together – make cleaning and cooking a game!</li>
      <li translate>Help with school work</li>
    </ul>
  </section>
  <section class="section">
    <h2 translate>
      Listen to them, look at them. Give them your full attention. Have fun!
    </h2>
  </section>
  <section class="section">
    <h2 translate>Ask your child what they would like to do</h2>
    <p translate>
      Choosing builds their self confidence. If they want to do something that isn’t OK with physical distancing, then
      this is a chance to talk with them about this. (see next leaflet)
    </p>
  </section>

  <section class="section">
    <h2 translate>Switch off the TV and phone. This is virus-free time.</h2>
  </section>

  <section class="section">
    <app-tip-sheet-footer></app-tip-sheet-footer>
  </section>
</div>