ion-icon {
  margin-right: 20px;
}
ion-icon.song-icon {
  color: var(--ion-color-tertiary);
}
ion-item.song-item {
  color: var(--ion-color-tertiary);
}
ion-item {
  --border-color: rgba(255, 255, 255, 0.3);
}
