/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/fonts.scss";
@import "./theme//typography.scss";
@import "./theme//animations.scss";
@import "./theme/layout.scss";

.center {
  margin-left: auto;
  margin-right: auto;
}

.title-image {
  width: 100%;
}

.footer-image {
  width: 100%;
  max-width: 600px;
}

.footer-text {
  font-size: 0.8em;
  opacity: 0.8;
}

.section {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.subheader img {
  max-width: 700px;
  display: block;
}

.yellow-bg {
  padding: 10px;
  background: #fbad18;
  color: #0b4060;
}

.purple-bg {
  padding: 10px;
  background: #5652a3;
  color: white;
}

.cyan-bg {
  padding: 10px;
  background: #56c5d0;
  color: #0b4060;
}

.magenta-bg {
  padding: 10px;
  background: #ed1651;
  color: white;
}

.navy-bg {
  padding: 10px;
  background: #0b4060;
  color: white;
}

.blob-container {
  display: flex;
  position: relative;
  width: 124px;
  height: 164px;
}

.blob-container .body {
  width: 100%;
  position: relative;
  z-index: 1;
}

.blob-container .todler {
  width: 40%;
  position: absolute;
  right: 3px;
  bottom: 40px;
  z-index: 2;
  filter: hue-rotate(150deg);
  -webkit-filter: hue-rotate(150deg);
}

.todler {
  animation-name: bounce-5;
  animation: bounce-5 1.5s infinite linear;
}

.blob-container .arm {
  width: 10%;
  position: absolute;
  right: 3px;
  bottom: 64px;
  z-index: 2;
  transform: rotate(50deg);
  transform-origin: bottom left;
  animation: waving-arm 3s infinite linear;
  -webkit-transform: rotate(50deg);
  -webkit-transform-origin: bottom left;
  -webkit-animation: waving-arm 3s infinite linear;
}
