.nav-menu-item {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--ion-color-tertiary);
  padding: 20px 20px;
  cursor: pointer;
}
.nav-menu-item > h2 {
  margin-left: 20px;
  color: var(--ion-color-tertiary);
}
