<!-- TODO - provide proof of affiliation for play store and uncomment -->
<!-- <app-partners-footer></app-partners-footer> -->
<ion-content class="padding">
  <h1 color="secondary">Demo-1 19 Parenting</h1>
  <div class="nav-menu-item" [routerLink]="['/topics']">
    <img src="assets/img/menu-tips.svg" />
    <h2>
      Parenting Tips
    </h2>
  </div>
  <div class="nav-menu-item" [routerLink]="['/activities']">
    <img src="assets/img/menu-activities.svg" />
    <h2>
      Fun Activities
    </h2>
  </div>
</ion-content>
