<!-- TODO - provide proof of affiliation for play store and uncomment -->
<!-- <app-partners-footer></app-partners-footer> -->
<ion-content class="padding">
  <div style="height: 100%; display: flex; flex-direction: column;">
    <h1 translate color="secondary">Demo-1 19 Parenting</h1>
    <div class="nav-menu" style="flex: 1;">
      <div class="nav-menu-item tips" [routerLink]="['/tip-sheets']">
        <img src="assets/images/tips_icon1.svg" />
        <h2 translate>Parenting Tips</h2>
      </div>
      <div class="nav-menu-item activities" [routerLink]="['/activities']">
        <img src="assets/images/activities_icon1.svg" />
        <h2 translate>
          Fun Activities
        </h2>
      </div>
      <div class="nav-menu-item chat" [routerLink]="['/chat']">
        <img src="assets/images/chat_icon1.svg" />
        <h2 translate>
          Chat
        </h2>
      </div>
    </div>
    <app-language-select style="opacity: 0.5;"></app-language-select>
  </div>
</ion-content>