.nav-menu-item {
  display: flex;
  align-items: center;

  padding: 20px;
  cursor: pointer;

  margin: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);

  &.tips {
    background-color: #ffcb05;
  }

  &.activities {
    background-color: #56c4cf;
  }

  &.chat {
    background-color: #ed1651;

    & > h2 {
      color: white;
    }
  }
}

.nav-menu-item > h2 {
  font-size: 24px;
  margin-left: 20px;
  color: var(--ion-color-primary);
}
