.nav-menu-item {
  display: flex;
  align-items: center;

  padding: 20px;
  cursor: pointer;

  margin: 20px;
  border-radius: 20px;
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);

  max-width: 500px;
  margin-left: 30px;
  margin-right: 30px;

  &.tips {
    background-color: #fbad18;
  }

  &.website {
    background-color: #6e78b9;
  }

  &.chat {
    background-color: #e7406d;
  }

  &.partners {
    background-color: #56c4cf;
  }

  img {
    max-height: 32px;
  }
  text-decoration: none;
}

@media only screen and (max-width: 321px) {
  .nav-menu-item {
    margin: 10px;
    padding: 10px;
  }
}

@media only screen and (min-width: 570px) {
  .nav-menu-item {
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-menu-item > h2 {
  font-size: 24px;
  margin-left: 20px;
  color: var(--ion-color-primary);
}

.app-title {
  color: white;
  font-size: 30px;
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}
