<!-- TODO - provide proof of affiliation for play store and uncomment -->
<!-- <app-partners-footer></app-partners-footer> -->
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <h1 translate class="app-title">Covid-19 Parenting</h1>
  </ion-toolbar>
</ion-header>
<ion-content class="padding">
  <div style="height: 100%; display: flex; flex-direction: column;">
    <div class="nav-menu" style="flex: 1;">
      <div class="nav-menu-item tips" [routerLink]="['/tip-sheets']">
        <img src="assets/images/tips_icon1.svg" />
        <h2 translate>Parenting Tips</h2>
      </div>
      <div *ngIf="false" class="nav-menu-item activities" [routerLink]="['/activities']">
        <img src="assets/images/activities_icon1.svg" />
        <h2 translate>
          Fun Activities
        </h2>
      </div>
      <div *ngIf="false" class="nav-menu-item chat" [routerLink]="['/chat']">
        <img src="assets/images/chat_icon1.svg" />
        <h2 translate>
          Chat
        </h2>
      </div>
      <a href="http://covid19parenting.com" class="nav-menu-item website">
        <img src="assets/images/website_icon1.svg" />
        <h2 translate>
          Website
        </h2>
      </a>
      <div class="nav-menu-item partners" [routerLink]="['/partners']">
        <img src="assets/images/partners_icon1.svg" />
        <h2 translate>
          Partners
        </h2>
      </div>
    </div>
    <!--<app-language-select style="opacity: 0.5;"></app-language-select>-->
  </div>
</ion-content>